* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#btns-container {
	display: grid;
	grid-template-areas:
			"7 8 9 a"
			"4 5 6 b"
			"1 2 3 c"
			"0 d d e";
	grid-gap: 1px;
	height: 400px;
	width: 400px;
}

#equals {
	grid-area: d;
}

.btn {
	font-size: 50px;
	line-height: 50px;
	padding-top: 20px;
	text-align: center;
	background: red;
}
